[2019-12-09 16:40] dbaronov opened #1 "Video inline or in modal"
Would it be possible to have a parameter to set a video to be played inline or in modal box?

[2019-12-09 17:33] lucaspulliese commented on #1
Hi @dbaronov, could you give me an example? It would be better for me if you have a reference.

[2019-12-23 17:17] lucaspulliese commented on #1
Closing since no response from the issue reporter. Feel free to open the issue again if you want.

[2019-12-23 17:17] #1 closed

[2019-12-26 18:33] wowselim opened #2 "Lazy load full-res photos"
Hey,
Is it currently possible to specify thumbnail URLs and full image URLs separately? I would like to display a grid with small thumbnails and lazy load the full images either when they are opened or I am likely to view it.
I have some large images and I don't want to unnecessarily load them in full resolution if a user never actually views them.

[2019-12-26 19:00] lucaspulliese commented on #2
Hey!

Check the videos examples https://vue-cool-lightbox.lucaspulliese.com/#example-video.
There each item is an object like this:

[code]

thumb is the thumbnail of the video and src is the url of the video, in your case src is the url of the full image.

Tell me if that is what you need.

[2019-12-26 19:02] wowselim commented on #2
Hey, I must've missed that because I didn't really look at the video section. That's exactly it, thank you!

[2019-12-26 19:02] #2 closed

[2020-01-05 01:55] petermanlwl opened #3 "opening the gallery causes underlying page to scroll to the top"
Ideally, when I click on an image/video, the underlying page should not scroll to the top. When I click out of the image/video, I expect the underlying page to look exactly the same as before I clicked the image. Instead, the underlying page is scrolled to the top.

[2020-01-05 18:14] lucaspulliese commented on #3
Hi @petermanlwl! Could you give me your code?

[2020-01-05 21:41] petermanlwl commented on #3
Hi,

Thanks for the fast response. I’ll send some repro steps soon.

--Peter

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Lucas Pulliese <notifications@github.com>
Sent: Sunday, January 5, 2020 6:14:11 PM
To: lucaspulliese/vue-cool-lightbox <vue-cool-lightbox@noreply.github.com>
Cc: petermanlwl <petermanlwl@live.co.uk>; Ment

[2020-01-05 21:52] petermanlwl commented on #3
Hi,

I managed to reproduce the issue – see https://codesandbox.io/s/exciting-germain-bhwht
The issue disappears when line 106 of App.vue is commented out. Note that I’ve used other gallery vue-components, and they do not exhibit this bug.

Also, I noticed another issue.... if I do comment out line 106 (thereby ‘fixing’ the issue), I see that the scroll bar in the underlying page is hidden when I

[2020-01-05 23:31] petermanlwl commented on #3
Also, another possible issue I found, although I cannot reproduce in the example I sent you...

If I click on a youtube video so that it starts playing, then click away from the video to dismiss it, I get a “ERR_FILE_NOT_FOUND” error on the console.
In the stacktrace of that error, it points to vue-cool-lightbox.ems.js on line 437. It looks like this.itemSrc evaluates as false.

Thanks,

--Peter

[2020-01-06 00:02] lucaspulliese commented on #3
Thanks for your feedback!

Ok, I will be working on those issues this week, currently I'm very busy but I'm gonna try to fix those issues tomorrow.

[2020-01-08 02:58] lucaspulliese commented on #3
Fixed in release [0.1.2](https://github.com/lucaspulliese/vue-cool-lightbox/releases/tag/0.1.2)

Here's your forked codesandbox with the latest release updated https://codesandbox.io/s/runtime-fire-wp2zr

Please close the issue if everything is okay.

[2020-01-08 22:00] petermanlwl commented on #3
That fixed the scrolling issue. Thanks!

[2020-01-08 22:00] #3 closed

[2020-01-29 11:19] matt127127 opened #5 "TypeError: Cannot read property 'match' of undefined"
Get this error when clicking on any image.

This is the line that is throwing the error:
 var ytId = (url.match(youtubeRegex)) ? RegExp.$1 : false;

[2020-01-30 23:05] lucaspulliese commented on #5
Hi @matt127127, sorry for the late reply, I will check this issue right now, but if you can make a JSfiddle and reproduce the issue it will be better and faster for me to resolve it

[2020-02-03 12:26] mairofte commented on #5
Hello @matt127127
I had the same error message when I wanted to use a custom key for my image list.  I managed to "fixed" it by using the **index** from **v-for** loop as key and index prop for the CoolLightBox.
It seems that **CoolLightBox**  search the **items** list  only by index.

Hope this helps. Good luck

[2020-02-03 14:52] lucaspulliese commented on #5
Thanks @mairofte, I will try to fix it today.

[2020-02-12 22:08] jd1378 opened #8 "Issues when adding to nuxt project"
Hi,
I don't know why this happen , but when i add this package to my nuxt project and go to dev mode it starts showing errors about core-js , [here is the gist showing the error](https://gist.github.com/jd1378/27b0eb726eb370f8fcece336b0b3fad5)
can you guess why it happens ?
I did test this several times by adding and removing it to the same project only and this package made it happen.
thanks

[2020-02-12 22:21] lucaspulliese commented on #8
Hi @jd1378!

Could you copy & paste here your package.json? I want to reproduce it locally.

[2020-02-12 22:24] jd1378 commented on #8
[code]

[2020-02-12 22:27] jd1378 commented on #8
Please let me know when you have copied it , I don't want this information to stay on the internet ;)

[2020-02-12 22:33] lucaspulliese commented on #8
Done! You can remove it.

I'm gonna try to fix this issue tomorrow.

[2020-02-12 23:06] lucaspulliese commented on #8
I fixed it doing:

`npm i -D core-js@2 @babel/runtime-corejs2`

https://nuxtjs.org/guide/release-notes/#v2.6.0

I guess you have installed core-js: ^3.3.2, and I guess because vue-cool-lightbox has it as a dependency (which shouldn't be).

Let me know if it works for you!

[2020-02-13 09:51] jd1378 commented on #8
Ah, I see , I had seen that there's some issues around core-js in nuxt github
I'll try to install version 2 and try again in few days (sorry that i can't do sooner).
thanks for looking into it

[2020-02-13 18:09] #5 closed

[2020-02-13 23:05] jd1378 commented on #8
Hi @lucaspulliese
I had time today to try it
I can confirm the issues with core-js are gone
but currently your component is still unusable in nuxt ssr because of using document object
I'm getting error in `node_modules\vue-cool-lightbox\dist\vue-cool-lightbox.umd.js` at line ` var HEAD = document.head || document.getElementsByTagName('head')[0];`

[2020-02-14 00:07] lucaspulliese commented on #8
I know, at the moment you can use it adding it in nuxt.config.js as a plugin with ssr: false

[code]

And in cool-lightbox.js inside plugins folder:

[code]

I will be working to use it during SSR, thanks @ jd1378

[2020-02-14 10:01] jd1378 commented on #8
I think the problem with that approach is that it's gonna load everywhere even where I don't need it i.e. index (If I'm right, because I'm not sure about this)

[2020-02-15 20:42] lucaspulliese commented on #8
Added SSR in version 1.0.11.

Tell me if everything is ok so  I can close the issue.

[2020-02-16 15:35] jd1378 commented on #8
I could use it without any problem. Great job 👍

[2020-02-16 15:39] #8 closed

[2020-02-20 10:33] mike-13 opened #9 "Specify button type - default "submit" causes issue inside form"
Would it be possible to set the type of all buttons to "button" inside the template? The default button type is "submit" and when the lightbox is used inside a form, it causes the form to be submitted.

[2020-02-20 11:40] lucaspulliese commented on #9
Sure! You're right, I will do it now. My bad and sorry.

[2020-02-20 11:58] alexelev commented on #9
I join the request - I have the same problem with the lightbox's buttons inside the form and there is no way to change the type of buttons or even replace them with a `div` for example. The provided slots do not give such an opportunity, only change the content inside the buttons.

[2020-02-20 12:13] lucaspulliese commented on #9
Fixed in release [1.0.12](https://github.com/lucaspulliese/vue-cool-lightbox/releases/tag/1.0.12)

[2020-02-20 12:32] mike-13 commented on #9
Thanks, you're doing a great job in developing this lightbox

[2020-02-20 12:44] lucaspulliese commented on #9
Thank you so much! Glad to hear that :D

[2020-02-20 12:49] #9 closed

[2020-02-20 22:25] zefexdeveloper opened #10 "Suggestions for controls"
1. Add tooltip for the buttons. You can use [<title>](https://developer.mozilla.org/pt-BR/docs/Web/SVG/Element/title) inside the SVG - it's not very accessible without it. The problem with using encapsulated title is that sometimes people want to make it another language so it's probably good to have a prop or a slot for that.
![image](https://user-images.githubusercontent.com/30276092/74985419-2c

[2020-02-21 12:59] isuke01 opened #11 "Add drag and I love it."
Actually I think drag/swipe is really feature that is missing.
Other than that I really like it, but it cant be used if there is no swipe for mobile devices :/

[2020-02-21 13:01] lucaspulliese commented on #10
Hi @zefexdeveloper!

1. Great, my idea was to add this enhancement in the new version, I just have to think what is the best way to have organized the language file and their props.

2. Yep, I will add it too.

Thanks!

[2020-02-21 13:03] zefexdeveloper commented on #10
@lucaspulliese Looking forward to it. I'm actually thinking on using it for a website I'm creating now for a client but I kinda need those features first, specially the second one.

Thank you very much hermano.

[2020-02-21 13:09] lucaspulliese commented on #11
Hi @isuke01!

Well, you have arrows to change the slides 😅

But yes, I think that's is gonna be an awesome feature. This weekend I'm on vacations but I'll try to have it for the next week. I don't know how much time it gonna takes me.

Thanks @isuke01!

[2020-02-21 13:27] lucaspulliese commented on #10
I can have the second one for today. This weekend I'm going on vacations so I guess for the next week maybe for the accessibility enhancement.

[2020-02-21 14:59] lucaspulliese commented on #10
Added "gallery" prop in [1.0.13](https://www.npmjs.com/package/vue-cool-lightbox), wich enable/disable gallery button and gallery block 👍

[2020-02-24 01:41] zefexdeveloper commented on #10
Thank you very much, I will be using it.

[2020-02-24 01:42] zefexdeveloper opened #12 "Allow to change the color on the gallery"
Right now I think that the color is hard coded as red, it would be nice to allow changing it like the progress indicator and as default match the color of the progress indicator, like if the user doesn't specify the color for the gallery it will match the progress color, this way the user can just change the progress color and it will reflect on the gallery, or if the wants to change the progress

[2020-02-24 15:13] zefexdeveloper opened #13 "Allow to change the loading animation"
It would be cool to have a slot on the loading animation. I'm using in a website that is already using a progress animation and it feels off using the default one that is completely different.

[2020-02-24 15:23] zefexdeveloper commented on #10
Thank you

[2020-02-24 15:23] #10 closed

[2020-02-24 15:24] zefexdeveloper commented on #11
+1 for this feature

[2020-02-24 22:10] zefexdeveloper opened #14 "Change the slidershow control icon"
I noticed that when pressing pause on the slidershow it does actually resets meaning it's not actually a pause button but a stop one, perhaps you should change the icon or implement an actual pause for the slidershow.

Thank you

[2020-02-25 16:49] zefexdeveloper opened #15 "Extract component CSS to a file"
Having the CSS contained inside the component is bad cause it won't allow people to make changes without using the `!important` which is really bad. I recommend creating an external CSS file for theming, this way people can customize their own and include like `import 'theme.css'`.

[2020-02-26 15:39] lucaspulliese commented on #12
Looking at the issue #15, what do you think is the best or proper way to handle this? Using props or extract the CSS file and allow developers to change those colors via CSS?

[2020-02-26 15:43] lucaspulliese commented on #15
Yep, you are correct with this one. Thanks!

[2020-02-26 15:44] zefexdeveloper commented on #12
Having the CSS extracted allows you to simplify your props, meaning that they will handle stuff related to the component itself and not styling, it's more like a separation of responsibility. In cases where it's a simple component, having props to set classes and stuff such as colors are just fine but in your case where it's kinda complex, it can't be all tied up to one style.

+1 for extracting t

[2020-02-26 15:47] lucaspulliese commented on #12
Great! Thanks for your explanation!

[2020-03-01 23:14] #11 closed

[2020-03-01 23:14] #12 closed

[2020-03-01 23:14] #13 closed

[2020-03-01 23:14] #15 closed

[2020-03-02 00:02] lucaspulliese commented on #11
Added swipe slides on mobile, the lightbox still has the fade effect when the slide change, but now you can change those slides swipping them.

I would like to add in the future the drag and swipe effect just like [fancybox](https://fancyapps.com/fancybox/3/) does.

[2020-03-02 00:03] lucaspulliese commented on #15
Added in the new version 1.1.0 :D

`
import 'vue-cool-lightbox/dist/vue-cool-lightbox.min.css'
`

[2020-03-02 00:04] lucaspulliese commented on #13
Added "loading" slot in version 1.1.0.

[2020-03-06 08:34] pknijff opened #16 "Mobile swiping feedback"
Hi,
First some credits to this package, it comes really close to Fancybox in my opinion.
However, swiping on mobile isn't as user friendly as I hoped for.

For instance in Fancybox:
- Swiping up is closing the popup (now it scrolls the page behind)
- Swiping left or right leads to moving the image according to your movement, it feels snappy. (now it could scroll the page behind if not swiped perfe

[2020-03-06 13:07] lucaspulliese commented on #16
Hi @pknijff!
Thank you very much, and thanks for your feedback.

Yes, the idea is to add these swipe optimizations and the accessibility optimizations for version 2 :)

[2020-03-09 15:55] isuke01 commented on #11
WOW!
Thanks for effort!
I still think drag would be nice on desktop too. You may laugh but I started to use carousels, etc with drag feature on desktop since I discovered, my parents actually are using drag swipe on touch screens (MS surface) and they are love it:D

[2020-03-09 16:18] lucaspulliese commented on #11
You are welcome!

You have a good point there, I guess I'm going to accelerate the release 2.0, which I will add the drag swipe effect on mobile devices and desktop too.

Thanks for your feedback, I really appreciate it.

[2020-03-10 13:42] zefexdeveloper commented on #11
@lucaspulliese I'm here just to say that you are doing a really great job, thank you for all the effort. Gracias hermano.

[2020-03-10 14:03] lucaspulliese commented on #11
You're welcome hermano!

And I really really appreciate your words, thank you very much!

[2020-03-14 16:42] pankajadhyapak commented on #8
I'm having the same issue not able to use in `nuxtjs project` works fine in development mode, but when I build the project it's not working, anyone faced the same issue?

[2020-03-19 09:30] 19Danie93 opened #18 "Cannot read property 'match' of undefined""
a have a error on charge the library, please help me
![image](https://user-images.githubusercontent.com/31352743/77052113-b3c6f380-69a2-11ea-9be1-c4c2588baf3f.png)

[2020-03-19 15:45] lucaspulliese commented on #18
Hi @19Danie93!

Could you provide me the array of items wich are you using?

[2020-03-19 17:19] 19Danie93 commented on #18
this is my code in the component.
![image](https://user-images.githubusercontent.com/31352743/77095428-41770300-69e4-11ea-98cd-b4de7d9cd372.png)

[2020-03-19 17:56] 19Danie93 commented on #18
I already fixed it ... I realized that my file path was wrong.
Thank you very much for answering

[2020-03-19 18:01] lucaspulliese commented on #18
No problem, thanks to you for using the component!

[2020-03-19 18:01] #18 closed

[2020-03-24 07:52] fayazara opened #19 "Trigger the gallery with just one image"
Is it possible to show just 1 thumbnail and when it is opened, they gallery will have multiple items then.

Or even trigger it with a button, called "Open Gallery" and this opens tha gallery

[2020-03-24 12:56] lucaspulliese commented on #19
Hi @fayazara.

You just need to set the index of the gallery, then the gallery will be opened, just like this codepen:

https://codepen.io/lucaspulliese/pen/LYVgyzp

[2020-03-24 20:09] fayazara commented on #19
Thank you! This works

[2020-03-24 20:45] #19 closed

[2020-03-31 01:45] lucaspulliese commented on #16
Finally I finished V2, you can check the swipe effect and tell me how do you see it, If you think everything is fine please close the issue :D

https://vue-cool-lightbox.lucaspulliese.com/

[2020-03-31 01:45] lucaspulliese commented on #14
Changed in V2, and added swipe effect!

https://vue-cool-lightbox.lucaspulliese.com/

[2020-03-31 01:45] #14 closed

[2020-03-31 01:46] lucaspulliese commented on #11
Finally I finished V2, you can check the swipe effect and tell me how do you see it, If you think everything is fine please let me know :D

https://vue-cool-lightbox.lucaspulliese.com/

[2020-03-31 21:53] roberttolton opened #20 "Cannot read property 'childNodes' of undefined"
Hey, I'm using this in a NuxtJS project, and am running into an error when using it inside of a component, one that can appear on the page many times.

I am importing the lightbox into each component.

The lightbox opens fine, but upon closing I get `Cannot read property 'childNodes' of undefined`:
[code]

Within the resetZoom method.

Any ideas?

[2020-03-31 23:56] lucaspulliese commented on #20
Fixed in version 2.0.3

[2020-04-01 08:46] narindersahani commented on #16
Hi,
I want to place thumbnail section from right to bottom. Is there any option to do that ?

Thanks

[2020-04-01 12:35] lucaspulliese commented on #16
Hi @narindersahani !

No, I will work on it 👍

[2020-04-01 12:38] narindersahani commented on #16
Thanks for reply.
Any custom code to display thumbnail section from right to bottom please

[2020-04-02 16:49] MattixNow opened #21 "How to use with Nuxt ?"
I've saw the issue #8, but i don't works on my universal nuxt project. Can you help me ?

[2020-04-02 23:28] lucaspulliese commented on #21
Hi @MattixNow!

Could you provide me the error?

[2020-04-03 07:34] MattixNow commented on #21
No error, but the css file isn't loaded, I manually add it with a head tag inside my components

[2020-04-03 07:34] MattixNow commented on #21
This happen only in production mode

[2020-04-03 12:29] lucaspulliese commented on #21
Mm, that's weird. I will take a look today.

Thanks.

[2020-04-03 12:29] #20 closed

[2020-04-03 16:09] lucaspulliese commented on #16
@narindersahani do you have an example or a screenshot of the design that you want to do?

[2020-04-04 00:50] lucaspulliese commented on #21
I can't reproduce the error.

Could you post a screenshot of how you're using it?

[2020-04-04 05:37] narindersahani commented on #16
Yes I have design for that here you go
![Screenshot (98)](https://user-images.githubusercontent.com/5082825/78419541-7af67200-7664-11ea-9d51-839d8f31d8ac.png)

[2020-04-06 01:51] lucaspulliese commented on #16
Added thumbsPosition prop in version 2.1.0. [Check API documentation](https://vue-cool-lightbox.lucaspulliese.com/#props)

In your case you should set thumbsPosition to 'bottom'

[2020-04-07 02:21] #16 closed

[2020-04-08 14:26] Webcretaire opened #24 "Lazy loading"
Hello

First of all, thanks a lot for this lightbox : it's easy to use and it has really nice features

I have a problem though, which is similar to #2 : I use the distinction between "src" and "thumb" attribute in my items, but when I click on an image, I can see in the network tab of my devtools that __all__ full-resolution image are downloaded immediately anyways (which is slow with dozens of i

[2020-04-08 17:18] lucaspulliese commented on #24
Hi @Webcretaire!

Thanks for your feedback!

This is a good enhancement to do, so I will be working on how to add it.

[2020-04-08 20:00] Caroga opened #25 "TypeError: url.match is not a function error message"
Hi, Im fairly new to Vue and in general am more of a backend developer. I've installed your component and found the following error to pop up in my console:
TypeError: url.match is not a function
![image](https://user-images.githubusercontent.com/4005934/78827732-e3867b80-79e3-11ea-9c3a-e7b464ed4dd7.png)

To reproduce: click to open lightbox image, then click to close it. Message should appear in

[2020-04-09 13:26] lucaspulliese commented on #25
MM, I will take a look today, thanks @Caroga!

[2020-04-10 00:10] lucaspulliese commented on #25
Fixed in version 2.1.1 😄

[2020-04-10 17:08] Caroga commented on #25
Confirm, the error is not showing up anymore. Thank you for this!

[2020-04-10 17:08] #25 closed

[2020-04-11 05:57] gabe72 opened #26 "Having issues with nuxt"
Thanks for making this.

This is the only one that has worked 80% with nuxt among all other libraries. However i am getting this issue.
![image](https://user-images.githubusercontent.com/42904245/79036599-61ff3b00-7be7-11ea-9d0a-fe95b76ea7c7.png)

[2020-04-11 14:26] lucaspulliese commented on #26
Hi! Are you using the latest version?
How are you using it?

[2020-04-11 16:54] gabe72 commented on #26
Hi Yes i am using the latest version.

I have made a plugin lightbox js and added the code in there

[2020-04-11 19:58] lucaspulliese commented on #26
Could you post a screenshot of how you're using it?

[2020-04-12 03:40] gabe72 commented on #26
Lighbox.js
![image](https://user-images.githubusercontent.com/42904245/79059930-58380f00-7c9d-11ea-8a18-2a6ee8a8f10a.png)

nuxt.config.js
![image](https://user-images.githubusercontent.com/42904245/79059940-6423d100-7c9d-11ea-8ecd-4c98fb47ef0f.png)

in the vue file
![image](https://user-images.githubusercontent.com/42904245/79059948-6d14a280-7c9d-11ea-8027-52a80370d3b0.png)

[2020-04-12 03:42] gabe72 commented on #26
![image](https://user-images.githubusercontent.com/42904245/79059978-9cc3aa80-7c9d-11ea-948a-dfaf28993cf8.png)

![image](https://user-images.githubusercontent.com/42904245/79059984-a816d600-7c9d-11ea-82eb-ea3a8e4c8c47.png)

[2020-04-19 02:47] jd1378 opened #27 "Double clicking the darkened area inside lightbox make the current slide class disappear"
Hi
I thought this should be a bug so maybe look into it?
when the lightbox is visible , just double click the darkened area (around the current picture) and the current slide loses the `cool-lightbox__slide--current` class , which shouldn't be the case and it becomes less visible.
also it would be nice to use `user-select: none` on the picture as well, double clicking around makes them highlighted

[2020-04-19 02:51] jd1378 commented on #27
Sorry , this was my mistake to happen, nothing wrong with your component.

[2020-04-19 02:51] #27 closed

[2020-04-19 04:46] jd1378 opened #28 "Feature: Add an option to swap the next and previous button action"
Hi
I think it's good for UX if I can swap the direction that next and previous button goes in lightbox if possible in RTL templates, can you implement it if you don't mind ? like a `dir` option with `ltr` or `rtl` would be good to have

like for example I have 3 thumb images from right to left, clicking on the first from right opens the lightbox with index 0, now it should show the next button on

[2020-04-19 05:14] lucaspulliese commented on #26
Sorry for the late reply.

Thanks for the screenshots, I will be working on it.

[2020-04-19 05:18] lucaspulliese commented on #28
Sure, I will add it in the new release. Thanks for the idea.

[2020-04-19 13:28] pknijff commented on #16
I checked it and it is working way better, well done! I'll use the lib definitely in future projects!

[2020-04-22 11:33] Webcretaire commented on #24
Hi,

I just wanted to update you on the tests I did regarding this issue : my project uses [Bootstrap Vue](https://bootstrap-vue.js.org/), and if I replace all your `<img/>` tags with `<b-img-lazy/>` it seems to work as I expect (i.e. each image is downloaded only when it needs to be displayed).

It is not a good solution for this project because it would add a dependency on Bootstrap Vue (and may

[2020-04-22 12:58] lucaspulliese commented on #24
Thanks! I was wondering how to do it, this gives me a point where I should start.

[2020-04-22 13:20] Webcretaire commented on #24
No problem, I don't have much time for that (I only use it for a small personnal project, not my actual job), but if I can be of any help feel free to ask :slightly_smiling_face:

[2020-04-22 19:55] pmochine opened #29 "Issues with responsiveness"
So I love this package so much! You deserve much more love.

But I have an issue with my responsiveness, even though your demo examples are working! Super weird.

Here have a look:

![Ohne-Titel (1)](https://user-images.githubusercontent.com/25006691/80027114-86122480-84e3-11ea-88a2-c063e63df67b.gif)

Not sure why it is like that. Maybe because `<CoolLightBox` is quite nested. Or maybe because I'm

[2020-04-22 23:29] lucaspulliese commented on #29
Hi @pmochine!

First of all, thank you for your words, I really appreciate it!

Both problems are because that translate3d is calculated based on windows width, that's only fired when the lightbox is open and when the lightbox changes the current slide. So I have to fire that "calculation" when the user is resizing the website.

I will be working on it in the new release.

Cheers!

[2020-04-23 19:02] pmochine commented on #29
@lucaspulliese Thank you for your response :) Btw I just wanted to add, that this bug is not existing for the first item. Only starting from the second. So you also see the bug on your examples.

Thanks, can't wait for the new release.

[2020-04-25 07:30] filipinyo opened #30 "Selectable text and html content"
Hey there!

I really like the lightbox. One thing that I'm missing is an option to pass in description a HTML. I'd like to add some URL in the description etc. Other thing that would need tweaking is the selectability of the text in the description and caption.

Best regards,

Filip

[2020-04-25 19:53] lucaspulliese commented on #30
Hi Filip!

Now you can add HTML in description and title too if you want, and the text is selectable too in version 2.2.0.

[2020-04-25 19:56] lucaspulliese commented on #24
Hi @Webcretaire!

Now in version 2.2.0 you have lazy loading on images! Thanks for the idea, I guess that the Intersection Observer API works very well.

If it's working fine for you please close the issue.

[2020-04-25 20:02] lucaspulliese commented on #29
Hi @pmochine!

This issue is fixed in version 2.2.0, If you see that everything works fine please close the issue 😃

[2020-04-26 06:18] filipinyo commented on #30
Awesome! Thank you very much :D

[2020-04-26 07:37] #29 closed

[2020-04-26 07:39] #30 closed

[2020-04-26 10:31] Webcretaire commented on #24
Hi !

It seems to be working really well, thanks a lot for this improvement ! Now that's a really cool vue-lightbox 🙂

[2020-04-26 10:31] #24 closed

[2020-04-26 19:21] lucaspulliese commented on #26
Hi @gabe72!

I did the same as your screenshots and I still can't reproduce the error, but I don't think it's a lightbox's problem, check this [stackoverflow link](https://stackoverflow.com/questions/49585845/attrs-is-readonly-listeners-is-readonly-avoid-mutating-a-prop-directly).

[2020-04-26 19:25] lucaspulliese commented on #21
Closed since no response, feel free to open the issue again if you want.

[2020-04-26 19:25] #21 closed

[2020-05-02 11:55] Buffalom opened #31 "Support other Video Formats"
Is it correct that only mp4-videos are recognized and displayed as videos? If so, would love to see other formats such as .mov being supported. Thanks!

[2020-05-03 04:16] lucaspulliese commented on #31
Hi @Buffalom!

Yes, you are right, I will add other formats such as .mov and .ogg.

[2020-05-03 20:27] lucaspulliese commented on #31
Hey @Buffalom, now in version [2.2.2](https://www.npmjs.com/package/vue-cool-lightbox) you can use .mov, .ogg, .webm and .avi as a videos types.

If everything is ok please close the issue. And thanks for this enhancement.

[2020-05-07 23:54] elalekey opened #32 "Slot for content / PDF support"
I was looking for the possibility to show one more PDF I couldn't find it... it would be good if there was a SLOT to be able to place the content you want.

[2020-05-11 17:35] lucaspulliese commented on #32
Yep, add a slot for custom content sounds good, I will be working on it.

[2020-05-11 17:36] lucaspulliese commented on #26
Closed since no response.

[2020-05-11 17:36] #26 closed

[2020-05-11 17:36] #31 closed

[2020-05-11 22:28] elalekey commented on #32
Great @lucaspulliese awesome job!

One question.. can you do something similar with the zoom as in Slack? that even though you can already see the image in a respectable size.. you can make it an extra zoom, actually the library works perfectly.. but is it possible?

![image](https://user-images.githubusercontent.com/41456459/81618242-e72b6a80-93b4-11ea-95af-5720b6e6bdf4.png)

and.. to be able to

[2020-05-12 14:45] Buffalom commented on #31
Ah right, sorry, I forgot to try again and close the issue. I have not tried it since to be honest but I'm sure it works 👍

[2020-05-15 17:02] lucaspulliese commented on #32
Sorry for the late replies, I'm currently very busy.

That zoom effect sounds good, I will try to add it.
And yes, but I'm going to check if I can add it as a "repeatable slot".

Thanks for the ideas!

[2020-05-15 19:14] elalekey commented on #32
Okay! good luck and awesome job.

[2020-05-17 01:15] lucaspulliese commented on #32
I was doing the custom button enhancement, you think something like this it's ok for you?

![Captura](https://user-images.githubusercontent.com/15676286/82133436-7b853b00-97c2-11ea-8bf5-e1b50773a70c.PNG)

This way you don't need to emit the event, also It's not possible to emit an event from a slot.

[2020-05-17 16:40] elalekey commented on #32
Sorry I'm late.. that's fine I agree.. by the way a note, some companies like all designs to be uniform.. What do I mean by this? If the X is blue.. the rest of the buttons must be blue.. with the same width * height measurements, etc. I know I'm asking a lot but I do it as a suggestion..if the CLOSE button could be customizable..thanks anyway for all these optimizations.

[2020-05-19 20:18] lucaspulliese commented on #32
It's ok, don't worry!

Yep, I should add a slot for the close button.

[2020-05-19 21:57] migo315 opened #33 "Support "No Cookie" mode"
YouTube offers an API for embed videos with less cookies:

`https://www.youtube-nocookie.com/embed/YOUTUBE_ID`

Unfortunately, this does not work for this lightbox. In terms of data protection, this would be very relevant for European countries. Any chance to support this?

[2020-05-20 00:55] lucaspulliese commented on #33
Hi @migo315!

First of all, thanks for the star.

Sure, I will add it, I didn't know that exists.

But I have a question. What do you thinks is better, just add to all youtube videos the embed video with less cookies or add a prop to decide between the one that add more cookies or the one that add less?

Currently what the lightbox do is get the youtube ID from the inserted url and use it in `http

[2020-05-20 06:20] migo315 commented on #33
It's a cool Lightbox library. ;-)

Ok, but why don't you use the url directly? Generally, I would prefer if the library use the URL which I pass to items. But if that not possible, then a prop would be cool. The developer should decide which Embed variant should be use in his project.

[2020-05-20 13:27] lucaspulliese commented on #33
I don't use the url directly because is an iframe and only works with embed youtube videos.
I have clients where they store the video url like this `https://www.youtube.com/watch?v=YOUTUBE_ID` and in that way doesn't work.

But now thinking on it I could solve it checking if the URL is a youtube video and has 'embed' I will use it directly, if not there you decide wich embed variant should be use

[2020-05-20 13:42] migo315 commented on #33
Ah yes. That make sense. Well, then I think the prop is enough. It doesn't have to be more complicated than necessary.

[2020-05-22 02:14] lucaspulliese commented on #33
Hi @migo315.

Now in version [2.3.0](https://www.npmjs.com/package/vue-cool-lightbox) you can use a prop called youtubeCookies, by default is true, if you set the prop to false it will work with `https://www.youtube-nocookie.com/embed/YOUTUBE_ID`

[2020-05-22 02:17] lucaspulliese commented on #32
Hi @elalekey!

Now in version [2.3.0](https://www.npmjs.com/package/vue-cool-lightbox) you have the slot for the close button, and you have a prop called useZoomBar, by default is false. If you set that prop to true you can use a zoom like Slack.

I'm still working on the custom buttons and the custom content slot.

[2020-05-22 03:02] elalekey commented on #32
Yo.. @lucaspulliese thanks you very very much. Do you have a release date for the pdf version?

[2020-05-22 07:55] migo315 commented on #33
Cool! I will test it tonight. ;-)

[2020-05-22 14:30] lucaspulliese commented on #32
Yes, I know, today I will update the readme, and the [docs](https://vue-cool-lightbox.lucaspulliese.com/) too.

Not yet, I'm sorry, maybe this weekend. But just to be clear, do you want a slot where you can insert custom content right? The pdf is something that is on your own, isn't a functionality from the lightbox.

I'm correct?

[2020-05-22 20:54] migo315 commented on #33
Works perfectly! Click [here](https://coaster.cloud/parks/phantasialand/attractions/taron) if you want to see it action.

Thanks for that ;-)

[2020-05-22 20:58] lucaspulliese commented on #33
You are welcome!

And thanks, I always want to see sites that are using this component, it makes me feel good haha.
By the way, good site, I like the design :)

[2020-05-22 21:04] #33 closed

[2020-05-23 19:18] lucaspulliese commented on #32
I added a small fix in version 2.3.1, so if you use the zoom bar like Slack use that version :)

[2020-05-23 23:05] LorenzoSapora opened #34 "Add autoplay prop for videos"
Reading through your docs, and I can't see any autoplay prop for <video> content.

Unless it's hidden somewhere, I'll start making a PR for this feature :)

[2020-05-24 02:48] elalekey commented on #32
Sorry for answering so late.. answering your previous question.. basically yes, I could use a slot to be able to place custom content.. regarding the PDF I think you could render it according to what you send it.. for example.. if the "type" is PDF instead of placing a <img> tag you will place a <iframe> to be able to render it. In the end both use an SRC to be able to render with the difference t

[2020-05-24 14:41] lucaspulliese commented on #34
Hi @LorenzoSapora!

If you want to make the pull request it's ok for me!

But If not I will try to have today or tomorrow this feature.

[2020-05-24 14:50] lucaspulliese commented on #32
It's ok bro!

Ahhh It is simpler than I imagined, I forgot that with an iframe you could insert PDFs in the web, so I will try to have the PDF version today or tomorrow :)

[2020-05-24 16:34] elalekey commented on #32
Take your time my bro. Grateful with your work

[2020-05-25 21:01] kaypro4 opened #35 "Clicking background doesn't close lightbox on mobile"
Hello, first thing, this is a fantastic tool so thank you so much for the time and effort that has been put into it. It is simple to integrate, and works beautifully.

I'm not sure if this is an issue or a feature request, but on desktop (chrome) when I click outside of the image (see image below for click location)  when the lightbox is open, the lightbox closes. This is what I expect and prefer.

[2020-05-25 21:28] lucaspulliese commented on #35
Hello @kaypro4!

Thank you very much for your words, I am very happy that the component is very helpfull to the community.

Yep, this is an intentional behavior, seriously I don't know now why haha, I was thinking that they could watch the videos or the gallery without the buttons disturbing, but yes, I think it's better what you said, or maybe add a prop for that.

I will be working on it, thanks

[2020-05-25 21:47] kaypro4 commented on #35
Thanks @lucaspulliese ! I like the idea of a prop since it would allow folks to keep things the way they are if they prefer.

If my skills were better, I would dive into it myself. That said, if I can be of use as a tester please let me know.

[2020-05-25 22:46] lucaspulliese commented on #35
Sure! I'll let you know 👍

[2020-05-26 01:19] elalekey commented on #32
@lucaspulliese I added the property you told me about, I made sure I updated to version 2.3.1 but I'm not getting the Zoom bar, how can I do that?

![image](https://user-images.githubusercontent.com/41456459/82851220-238aba80-9ecd-11ea-9e22-3e9bf64b232a.png)

![image](https://user-images.githubusercontent.com/41456459/82851236-31404000-9ecd-11ea-9f72-ca328ee3ad91.png)

![image](https://user-images

[2020-05-26 10:15] ionchi commented on #25
Hello, I'm getting this error with 2.3.1 version.
[code]

the problem seems to be the fade effect, with swipe it works.

[2020-05-26 10:23] ionchi opened #36 "Error on close with fade effect"
Hello, I'm getting this error with 2.3.1 version every time I'm trying to close the slideshow (clicking outside the image or on close button):
[code]

the problem seems to be the fade effect, with swipe it works.

[2020-05-26 12:39] lucaspulliese commented on #36
Hi @ionchi.

Thanks, I will fix it today 👍

[2020-05-26 14:55] krokodilshnap opened #37 "Mouse Wheel control"
Hi! I'm really enjoy your plugin, thx for your work. But can you pls add mouse wheel control? It will be very comfortable

[2020-05-26 15:55] krokodilshnap commented on #37
this part of code can be helpful for you. I realize mouse wheel event on your component

[code]

where `this.prevTime` is `new Date().getTime()`

[2020-05-26 16:16] lucaspulliese commented on #37
Hi @krokodilshnap!

Great, I will test it, and if it works fine I'm going to add it.

Thank you very much for your help!

[2020-05-26 21:49] fayazara opened #38 "Nuxt error"
So I am trying to implement this with Nuxt, and I keep getting this error. `Cannot read property 'clientWidth' of undefined` when I was trying #19.

I am loading this in the component rather than loading it globally from the plugins folder.

Please let me know how to fix this.

[2020-05-27 00:47] lucaspulliese commented on #38
Hi @fayazara!

Could you post screenshots of how you are implementing it?

[2020-05-27 00:59] lucaspulliese commented on #36
Hey, could you reproduce the error in a codepen or post screenshot of how you are using it? I can't reproduce the error locally.

[2020-05-27 01:41] lucaspulliese commented on #37
Hey!

I tested it and it works fine! Just did small changes, but now in version [2.3.2](https://www.npmjs.com/package/vue-cool-lightbox) you have enableWheelEvent prop, if everything is ok for you please close the issue.

I will update the docs soon and give you the recognition for helping me with this improvement ;)

[2020-05-27 01:44] lucaspulliese commented on #35
Hey!

Now in version [2.3.2](https://www.npmjs.com/package/vue-cool-lightbox) you have a prop called closeOnClickOutsideMobile, if is setted to true the lightbox will close on mobile devices when you click outside the image/video.

Test it please, if it works fine please close the issue :)

[2020-05-27 01:47] lucaspulliese commented on #32
Hi bro!

Update the lightbox to version [2.3.2](https://www.npmjs.com/package/vue-cool-lightbox). In that version when the item src is a pdf it will render an iframe with that PDF.

Test it and tell me if everything is ok!

[2020-05-27 07:38] ionchi commented on #36
Hi, thanks for the work. I can't reproduce that, it's part of a larger project. I tried with codesandbox but there it works, maybe the problem is elsewhere, I'll dig another bit later.

Anyway, I'm fine with using swipe effect, but with that I'm also experiencing an issue:
with mixed gallery of images and videos, navigating the gallery doesn't load the video. It only works if opened directly with

[2020-05-27 08:11] krokodilshnap commented on #37
Thank you very much :))

[2020-05-27 08:11] #37 closed

[2020-05-27 08:21] krokodilshnap commented on #38
Hi @fayazara
I implemented this plugin in nuxt and its work fine. Be sure you made everything correct:

1. create a single file in plugins folder like "lightboxGallery"
2. past this code there
[code]
3. In your `nuxt.config.js` file add a new object in `plugins` array
`{ src: '@/plugins/lightboxGallery', mode: 'client' }`
4. In your component call `CoolLightBox` component

I'm using nuxt 2.0.0

[2020-05-27 13:41] elalekey commented on #32
Thank you very much.. I'll try it and let you know

[2020-05-27 14:10] indexxd opened #39 "Performance issues"
Hi, I have a problem with performance depending on how many images I have. If I'm using 50 images everything is fast and smooth but when I change it to something more such as 500, the lightbox becomes very slow and takes around 2 seconds to open or change image.

I don't really know what to do with this. Another lightbox I was using before didn't have this issue.

[2020-05-28 00:42] lucaspulliese commented on #39
Hi @indexxd!

Have you tested it with fade effect? Because if with the fade effect works fine I will know what it's happening.

I don't know what kind of site are you doing, but show 500 images I think it's too much for the user, and It will take a lot to download that size of images.

[2020-05-28 16:14] nncrns opened #40 "Multiple slideshows"
First of all, thanks for this super useful tool!

I am trying to implement several slideshows for each section on a page as the result of a for-loop:

[code]

However, this gets me stuck in an endless loop. As I am still a Vue beginner, I am a little lost on how to make multiple slideshows possible. Maybe you could point me in the right direction?

Thanks!

[2020-05-28 16:24] nncrns opened #41 "Toggle functionality"
It is great to have all the different slideshow options (zoom, thumbnails, etc.). However, for a more minimal version I would love to be able to toggle each option on and off / setting each to true or false. For some elements I can do a workaround by customizing the CSS, for example setting toolbar elements to display: none. But in particular I would like to switch off the zoom functionality when

[2020-05-28 21:27] kaypro4 commented on #35
@lucaspulliese it's working perfectly for me! Thanks for getting this feature in so quickly!

[2020-05-28 22:13] anedosugov opened #42 "Is there a way to use `srcset` for images?"

[2020-05-28 22:24] #35 closed

[2020-05-28 23:48] lucaspulliese commented on #42
Not yet, but I think it's a good feature for a V3 🙌

[2020-05-29 03:27] lucaspulliese commented on #40
Hi @nncrns!

I did this and it worked for me

[code]

[code]

What I did was create a reactive variable for each of the items 'apps' using $set: [vue documentation](https://es.vuejs.org/v2/guide/reactivity.html#Precauciones-detectando-cambios)

Tell me if it works for you, and close the issue please.

[2020-05-29 03:32] lucaspulliese commented on #36
Hey! Update the package to 2.3.3, It will work right now :)

[2020-05-29 03:33] lucaspulliese commented on #41
Hi again :D

I don't understand what you want, could you give me an example?

[2020-05-29 07:28] nncrns commented on #41
Sorry for being unclear :)

I would like to be able to toggle the functional elements inside the lightbox individually to better adapt the lightbox to my design and desired functionality. Just like the Fullscreen option that can already be toggled, and I just realized that I can already toggle the thumbnail option with :gallery="false". But it would be great if all elements could have this option,

[2020-05-29 07:47] nncrns commented on #40
Thank you for the super fast reply and this solution, works perfectly! 🙏

[2020-05-29 07:47] #40 closed

[2020-05-29 07:54] ionchi commented on #36
yes, now it works! Cool

[2020-05-29 07:57] #36 closed

[2020-05-29 20:53] elalekey commented on #32
I don't know if it's my idea but sometimes if the SRC is NULL and you open the vue-cool-lightbox to show some content the loader circle is not shown. It would be good to add that validation that as long as the SRC is NULL the loader is shown. I tried the PDF and it works perfectly.

[2020-05-29 22:16] elalekey commented on #32
@lucaspulliese i found a problem... when I tried to make a PDF stream with a signed Cloudfront URL and when I tried to return it, it got damaged.

![image](https://user-images.githubusercontent.com/41456459/83309814-40c6ce00-a1d8-11ea-8638-f4ee843d6bbf.png)

http://xxxxxxxxx.cloudfront.net/792e61bf-433c-4485-8d22-b59df51d901d.pdf?Expires=1590790732&Policy=TOKENBLABLABLABLAH&Key-Pair-Id=APKBLABLABL

[2020-05-30 03:42] elalekey commented on #32
Sometimes is detected the URL but did not render correctly

![image](https://user-images.githubusercontent.com/41456459/83318792-14c24180-a206-11ea-9c3d-d8cd503c1049.png)

[2020-05-30 03:45] elalekey commented on #32
Sometimes it detects the URL and gives no error but renders the item that is not .. I think the best thing for this case is that you put a prop to detect the item more easily .. What do I mean?

props: {
 isPdf: {
    type: Boolean,
    required: false,
   default: false,
}
}

In case isPdf is true, you would show the iframe, it would be a quick exit with code reduction.

![image](https://user-ima

[2020-05-30 17:26] lucaspulliese commented on #32
I thinks it is better for the developer just add the url and from the lightbox detect if is a pdf or not.

But yes, I know what's happening. It was just a lazy solution from me haha.
Currently the lightbox detects if the url ends with .pdf or not, obviously it was a bad idea.

Sorry bro, I will try to fix it soon.

[2020-05-30 17:54] lucaspulliese commented on #41
It's ok my friend!

Ok, I understand your point now.

Sure, I will be working on it :)

[2020-05-31 00:41] elalekey commented on #32
I don't think it was a bad idea, I would have done the same as you, I'll keep an eye out, greetings!

[2020-05-31 10:22] nncrns commented on #41
Awesome, thanks a lot!

[2020-06-01 15:52] elalekey commented on #32
@lucaspulliese same issue for PNG / JPG / Image files

![image](https://user-images.githubusercontent.com/41456459/83427198-5a495f00-a3fe-11ea-9479-f483b406efdc.png)

[2020-06-03 06:23] indexxd commented on #39
Yes, fade effect fixed this issue for me, thanks.

[2020-06-03 07:52] #39 closed

[2020-06-03 08:05] indexxd opened #43 "Allow zoom on all images"
Hello, I feel like you should be able to zoom on every image, not just those that are bigger than the screen. I think this would make more sense.

[2020-06-05 02:18] lucaspulliese commented on #32
Hi @kaypro4!

Thanks for your contribution.

In this case I think there's no other way to do it, because, as you said, the lightbox won't be able to detect if is a PDF with a filestack file. The itemType prop I think is easier for me.

On the other hand you said that If I add a slot for custom content it will work, but I can't think now how its gonna be developed, because at the moment the lightbo

[2020-06-05 03:56] kaypro4 commented on #32
Hi @lucaspulliese , yeah, thinking about it some more, not sure how the slot would work for passing in content since items is an array. Seems like an optional itemType (or maybe mediaType) item attribute might be the best solution which could serve as essentially an override to your auto detection of type.

Maybe image, video, and iframe could be the options accepted. Hopefully if this is optional

[2020-06-07 23:35] lucaspulliese commented on #43
Yes, you are right, I will change it.

Thanks!

[2020-06-08 02:34] lucaspulliese commented on #32
@kaypro4 thank you so much for your help, I updated the readme.md and I will update the docs tomorrow.

Now in version 2.3.4 you have your pull request merged, I did some small changes but it worked fine, the mediaType prop now it's working for each item, if you set those PDF url as iframe it will work fine.

I'm going to add you and @elalekey to the acknowledgements section in the readme and on t

[2020-06-08 02:49] lucaspulliese commented on #32
And sorry, I didn't have much time to work on the component lately, and it took me a long time to do this feature.

[2020-06-08 03:54] kaypro4 commented on #32
Thanks @lucaspulliese! I'm amazed by your responsiveness so no apologies needed.

Our app is in a limited beta for the next month but after that it'll be public and I'll share a URL.

[2020-06-08 12:59] elalekey commented on #32
Thanks @lucaspulliese ! Amazing job.

[2020-06-08 14:14] lucaspulliese commented on #32
Thanks to both!

Great!

[2020-06-08 14:14] #32 closed

[2020-06-12 20:35] elalekey opened #46 "srcMediaType not working on SignedUrl"
Hey, @lucaspulliese , it's me again, xD.  If I use a signed Amazon URL with Cloudfront like this...

http://xyz.cloudfront.net/xyz.pdf?Expires=1591994230&Policy=eyJTDXYZBLABLABLABLABLALONGBLABLALIKE5109CHARS&Key-Pair-Id=APKAXYZAMXYZ

and I pass it by property "iframe" or "pdf" this keeps rendering it to me as an image. I tried to use the srcMediaType but nothing, it doesn't work

[2020-06-12 20:40] lucaspulliese commented on #46
Hi again! haha

Try this:

[code]

I have to update the docs with an example like this one.

[2020-06-12 22:15] elalekey commented on #46
I just tried it, it didn't work :(

If you want to give me a private email to send you a test URL so you can try it.

[2020-06-12 22:18] #46 closed

[2020-06-16 00:12] lucaspulliese commented on #43
Hi @indexxd, update your package with the latest version, now all images can be zoomed in :)

[2020-06-16 00:16] lucaspulliese commented on #41
Hi again, sorry, It has been a long time since this enhancement has been uploaded.

Now in version 2.4.0 you can hide all of the buttons from the toolbar with something like this:

[code]

**Slideshow** will hide the play/pause button, **gallery** will hide the open gallery button and **showCloseButton** will hide close button.

[2020-06-16 00:17] #38 closed

[2020-06-16 07:13] nncrns commented on #41
Amazing, thanks a lot!

[2020-06-16 07:17] nncrns commented on #41
Sorry, I just realized that one of my requests isn't covered. One of the most important things for me is to be able to disable the zoom when clicking on the image. Did you decide against implementing this option?

[2020-06-16 07:45] santas156 commented on #34
it will be nice

[2020-06-16 19:49] lucaspulliese commented on #41
You are right, I forgot that request, I'm sorry, I will be working on it.

[2020-06-17 02:19] #43 closed

[2020-06-17 02:31] lucaspulliese commented on #41
Hi again, update your lightbox to 2.4.1, there's a prop called disableZoom, that will disable zoom on all images.

[2020-06-17 07:30] Shade465 opened #47 "Scroll Lock"
Hi! Please add scroll lock like a BodyScrollLock.

[2020-06-17 20:16] #41 closed

[2020-06-18 16:47] nncrns commented on #41
So quick! Thank you :)

[2020-06-23 12:16] BetKingIO opened #48 "video url's don't work with google storage --fix in comments"
Google storage and other cloud providers will add an access key on to the url after the file extension.
These url's don't work in cool lightbox.

If you modify the checkIsMp4 and getVideoExt to check if the url contains a video extension instead of checking if it ends then it works.

I didn't submit a pull request in case that breaks any other functionality but these changes work in my project.

[2020-06-23 13:46] lucaspulliese commented on #48
Hi @BetKingIO!

Yes, you are right, I will be working on it.

[2020-07-08 11:31] betz0r opened #49 "Add zoom for mobile"
Hi,
is there any possibility to add pinch-to-zoom or two-finger-zoom for mobile devices? Currently you state in the docs that it is disabled for mobile devices.

Thanks for your efforts, it's an amazing component!

[2020-07-08 15:49] betz0r commented on #47
You can realize that using the following snippet, this.index is pointing to the index used

` watch: {
            scrollDisable: function() {
                if(this.scrollDisable){
                    document.documentElement.style.overflow = 'hidden'
                    return
                }
                document.documentElement.style.overflow = 'auto'
            }
        },`

and
`comp

[2020-07-08 16:58] lucaspulliese commented on #49
Hi @betz0r!

Thanks for your words, I'm glad that you liked the component.

Yes, is the idea for a new version, currently I'm very busy, but I'll be back this weekend with the component I guess, to do some fixes.

[2020-07-09 17:48] betz0r commented on #49
I did some investigation and the problem seems to be, that you can not disable native website zooming on iOS 10+ safari anymore thus there will be always only native zoom on websites on iOS safari.

I tested the component with iOS10+ and the zooming breaks actually the appearance of the lightbox completly, so the component is sadly usuable with iOS in the current state.

I didn't find any helpful

[2020-07-23 16:16] narindersahani commented on #34
Please send option name for auto play videos when popup opens
Thanks

[2020-08-16 00:02] lucaspulliese commented on #48
Hi @BetKingIO!

Sorry, I know it's been a while, but in the latest version, 2.4.2, this issue is fixed.

If you can, please close the issue if everything is ok.

[2020-08-16 18:08] BetKingIO commented on #48
Thanks for the update.

[2020-08-16 18:08] #48 closed

[2020-08-19 08:13] dmumedical commented on #47
See what the library does. The best solution is to remove content jumps when the scroll is blocked.

[2020-08-19 08:14] Shade465 commented on #47
See what the library does. The best solution is to remove content jumps when the scroll is blocked.

[2020-08-19 17:58] lucaspulliese commented on #47
Yep, I realized that this does not work, I am trying to make this component not dependent on other libraries, but if I do not find a solution I will include BodyScrollLock.

Sorry @Shade465, I was very busy and I was not very aware of the component, I will try to catch up with updates.

[2020-08-19 18:52] lucaspulliese commented on #47
@Shade465 I updated the lightbox to a new version, 2.4.3, wich includes this fix. The only thing is I couldn't test it on iOS devices.

Please tell me if everything works fine.

[2020-08-20 11:56] deasurv opened #53 "RTL issue"
Hi.
First of all, thanks for your useful and beautiful tool!

I realized lightbox doesn't work good in RTL pages or every wrapper that has "dir: rtl" property. it only shows first image.

Hope you fix this soon :)

[2020-08-20 14:55] uwejan opened #54 "Image resource protected by Bearer auth."
I was wondering if there was a way to load an image that is protected by auth headers. auth type Bearer token.

[2020-08-21 02:51] lucaspulliese commented on #54
Hi @uwejan!

For images, the best approach for solve something like this I think is using signed URL as [this post](https://stackoverflow.com/questions/34096744/how-should-i-load-images-if-i-use-token-based-authentication) says.

[2020-08-21 02:52] lucaspulliese commented on #53
Hi @deasurv!

Thanks! I'm glad that you liked.

Sure, I will try to reproduce this fix and I will fix it 👍

[2020-08-23 17:51] lucaspulliese commented on #54
@uwejan sorry, I couldn't find another solution, I will close this issue.

[2020-08-23 17:51] #54 closed

[2020-08-24 21:43] lucaspulliese commented on #53
Hi again!

Now in version 2.5.0 you can use it when a wrapper has direction: rtl, you can set a new prop dir="'rtl'" and it will work fine.

If everything is ok please close the issue.

[2020-08-24 21:44] lucaspulliese commented on #28
Hi! I know it's been a long time, I apologize, but I think now you can use it in the new version

Now in version 2.5.0 you can use it when a wrapper has direction: rtl, you can set a new prop dir="'rtl'" and it will work fine.

If everything is ok please close the issue.

[2020-08-24 21:46] lucaspulliese commented on #34
Hi guys!

I know it's been a long time, I apologize, but I think now you can use it in the new version.

For example:

[code]

It works with youtube, vimeo and web videos :)

If everything is ok please close the issue.

[2020-08-25 00:56] jd1378 commented on #28
Hi
Thanks a lot for doing it! but I'm sorry I'm afraid I cannot test it any time soon
I close the issue for now as it seems to be done, I'll reopen it if I run into an issue.

[2020-08-25 02:38] jd1378 commented on #28
Hi again, I tried it out, It does swap the button location, but something strange happens,
Only the first image is visible
when it goes to the right , the next one is not coming into view from left
I'm not sure but I suspect the next slide is out on the right side

[2020-08-25 02:42] jd1378 commented on #28
It's fine, With applying dir="rtl" there should be a "direction: rtl" through css as well for it to work.
It didn't work for me at first because I have a lot of stuff on ltr direction on the page.
It works fine now, thank you.

[2020-08-25 02:42] #28 closed

[2020-08-26 14:57] deasurv commented on #53
Hey!

"dir" prop solved the problem! Thanks!

Keep it up!

[2020-08-26 14:57] #53 closed

[2020-08-26 19:34] lucaspulliese commented on #47
Closed since no response, feel free to open the issue again if you want.

[2020-08-26 19:34] #47 closed

[2020-08-31 23:39] lucaspulliese commented on #34
Closed since no response. Feel free to open again if anything occurs.

[2020-09-01 04:17] narindersahani commented on #34
Hi,
Sorry I missed your comment,
Thank for your support. I will check auto play and let you know if all good :)

Thanks a lot !

[2020-09-03 04:35] narindersahani commented on #34
Auto play video working fine. Thanks a lot!

`items: [
  {
    src: 'https://www.youtube.com/watch?v=2cZ_EFAmj08',
    autoplay: true,
  }
]`

[2020-09-03 14:35] habibiazmi123 opened #55 "Error layout on deploy"
I have a problem running it in deploy mode but running it in normal development mode, can anyone help?

running in dev
<img width="1680" alt="Screen Shot 2020-09-03 at 21 15 01" src="https://user-images.githubusercontent.com/8370125/92129008-30546e00-ee2d-11ea-86fb-a663992ba28e.png">

running in deploy
<img width="1680" alt="Screen Shot 2020-09-03 at 21 16 15" src="https://user-images.githubuserco

[2020-09-03 14:58] #34 closed

[2020-09-05 00:15] #55 closed

[2020-09-09 08:44] vedmant opened #56 "Compensate for scrollbar"
Original fancybox compensates scrollbar jump https://prnt.sc/ue57cw

[2020-09-14 11:22] vinodugale257 opened #58 "Integration in nuxtjs"
Hello @lucaspulliese,

 I am trying to integrate vue-cool-lightbox in nuxtjs project but facing some issue.

**I install the package via yarn**

 **yarn add vue-cool-lightbox**

I created **cool-lightbox.js** inside the **plugins** directory with following code.

[code]
then include the plugin inside **nuxt.config.js**

` plugins: [{ src: '~/plugins/cool-lightbox', ssr: false }],`

Finally, I crea

[2020-09-14 15:06] lucaspulliese commented on #58
Hi @vinodugale257!

Thanks for using the component.

What's happening there it's that those divs are using those images as backgrounds,
and those divs are empty, so that's why their heights are 0.

I did a [JSFiddle](https://jsfiddle.net/lucaspulliese/xrado08c/), with examples with divs and background images and with img tags too.

So basically it was a css problem.

If I wasn't clear or you need

[2020-09-14 15:12] lucaspulliese commented on #56
Yep, I did something like that before but in some browsers it didn't work, so I think I should add something like [bodyScrollLock](https://github.com/willmcpo/body-scroll-lock).

But thanks for the suggestion!

[2020-09-15 08:41] sioniks commented on #58
@lucaspulliese thanks, i had the same problem. you saved me a lot of time

[2020-09-17 03:07] #58 closed

[2020-09-20 13:28] kimanihuon opened #59 "Background changes on page scroll"
Hi, great work.

I'm having a problem when displaying the lightbox when the page has scrolled down from the original position of the component. I'm programmatically opening the lightbox from different parts of the page, and passing in different images.

The problem is that half the background is cut off.

"nuxt": "^2.14.5",
"vue-cool-lightbox": "^2.5.2",
"@nuxtjs/vuetify": "^1.11.2",

To reproduce

[2020-09-22 15:29] lucaspulliese commented on #59
Hello! Thanks!

Oh I see, I think I should add something like [bodyScrollLock](https://github.com/willmcpo/body-scroll-lock), wich I thinks is more tested than the solution than I did.

Thanks @kimanihuon, I will let you know when is fixed.

[2020-09-22 18:21] lucaspulliese commented on #56
Hi @vedmant! I added bodyScrollLock in version 2.6.0, tell me if it work fine for you.

[2020-09-22 18:22] lucaspulliese commented on #59
Hi again @kimanihuon! I added bodyScrollLock in version 2.6.0, tell me if everything works fine for you.

[2020-09-22 19:31] vedmant commented on #56
@lucaspulliese Thanks!

[2020-09-23 10:27] kimanihuon commented on #59
Hi, awesome. The scrolling issue has been fixed. Thank you very much.

[2020-09-23 10:31] kimanihuon commented on #59
One last thing, with the new update, the image doesn't update when I change the src programmatically. e.g

`activeImages[0].src = newUrl`

I'm thinking maybe it's a caching thing ... kindly advise.

[2020-09-23 16:15] lucaspulliese commented on #59
Let me check it out and I'll tell you what it might be

[2020-09-24 08:47] vedmant commented on #56
@lucaspulliese Just checked, not exactly what I mean, it's compensate-for-scrollbar class, that compensates window just when body scroll is locked, it adds right padding to body (when there is a scrollbar). Here is some old package about this https://github.com/srph/scrollbar-compensate

[2020-09-25 20:14] lucaspulliese commented on #56
Ahh sorry, my bad, I will check that package, thanks.

[2020-09-28 05:25] lucaspulliese commented on #56
Hi @vedmant, you can update the component to version 2.6.1, I added the same as Fancybox do, let me know if it works fine for you.

[2020-09-29 21:51] markhayok commented on #56
Hi, @lucaspulliese! First of all – great work!
I have a problem when I try to close the "lightbox" on the mobile device:

TypeError: document.getElementById(...) is null
(removeCompensateForScrollbar vue-cool-lightbox.esm.js:484)

"nuxt": "^2.14.6",
"vue-cool-lightbox": "^2.6.1"

[2020-09-30 15:51] lucaspulliese commented on #56
Hi @markhayok! Thank you so much!

Update the component to version 2.6.2, It will fix it.

Let me know if that works for you.

[2020-10-01 07:39] schellmax commented on #59
might be related, using the CDN version i get the following error in the console:

vue-cool-lightbox:1 Uncaught ReferenceError: bodyScrollLock is not defined

[2020-10-01 10:47] lucaspulliese commented on #59
@schellmax Hi!

Yep, you are right, I forgot to remove that text and add that dependency to the docs for the CDN case, thanks!

[2020-10-01 18:32] markhayok commented on #56
@lucaspulliese  Thank you very much! Work well now!

[2020-10-02 19:08] diogoareia opened #60 "Multiple Galleries in one page"
Can't get multiple galleries to work on the same page, the first one works smoothly after that the others don't change the images, only the first one shows correctly.

[2020-10-02 19:16] diogoareia commented on #60
Got it to work with effect = "fade", swipe not working

[2020-10-02 19:19] diogoareia commented on #60
Just checked your examples, and this also happens on the ones with effect="swipe" after the first example.
I'm using Google Chrome lateste version Version 85.0.4183.121 (Official Build) (64-bit) on Mac OS Catalina

[2020-10-02 19:31] lucaspulliese commented on #60
Hi @diogoareia!

You are right, I will try to figure out this weekend, I don't know what's happening, thank you very much for reporting the problem.

[2020-10-02 19:32] #56 closed

[2020-10-04 19:22] lucaspulliese commented on #59
Done @schellmax. Thanks again.

[2020-10-04 19:22] #59 closed

[2020-10-05 01:18] lucaspulliese commented on #60
@diogoareia Please update the component to version 2.6.3, as you can see in the docs, it's fixed in that version. But let me know if it works for you aswell.

[2020-10-05 09:05] croftman commented on #60
@lucaspulliese I can confirm it's now working well 👍

[2020-10-05 23:54] diogoareia commented on #60
It's perfect, thank you so much!!!!
Cheers

[2020-10-05 23:54] #60 closed

[2020-10-07 12:48] briandijkstra1984 commented on #49
I have the same issue for mobile..
Is there a work around for now? Or when is there a new relaese?

[2020-10-11 15:50] lucaspulliese commented on #49
Hi @betz0r and @briandijkstra1984

First of all, sorry @betz0r, I thought I had answered your comment.

Now I think I have a stable version of the component, so I think is a good moment to start new features like this one, I will keep you updated.

[2020-10-27 09:12] StormWitcher opened #61 "Video is still playing in background after clicking Next or Previous"
**How to reproduce**
1. Go to the official example https://vue-cool-lightbox.lucaspulliese.com/#example-video
2. Open the first video
3. Click Play
4. Click to next video

Now you can still hear the previous video is still playing in the background and if you click play in the current video, it will play overlapping the previous one. A free remix :)

**Expected result**
When clicking the Next or P

[2020-10-27 14:20] lucaspulliese commented on #61
Hi @StormWitcher!

First of all, thanks for the star :).

Yup, you are right, I will check that issue today, thanks!

[2020-10-28 04:29] StormWitcher commented on #61
Thank you for the quick fix. Highly appreciate.
I confirmed the issue is solved in the latest version 2.6.6.

[2020-10-28 04:29] #61 closed

[2020-10-28 13:54] Dezento opened #62 "No alt attribute on <img>"
Hey, this plugin is really cool, but it lacks alt attribute on img  tag,
it would be also cool if it could have a dynamic alt tag (because of the new ADA regulations)

[2020-10-28 17:43] lucaspulliese commented on #62
Hi @Dezento!

Thanks for the star :).

Yup, it's a good enhancement, I will let you know when I have it, thanks!

[2020-10-28 17:45] lucaspulliese commented on #61
You're welcome!

I didn't tell you about to test the component because I saw a small bug on Vimeo videos, but it's not something that breaks the component funcionality, but I will let you know when it's fixed.

[2020-10-29 03:20] lucaspulliese commented on #62
Update the component to version 2.6.7, as you can see in the docs, now you can pass the attribute alt to the item object.

[2020-10-29 03:22] lucaspulliese commented on #61
Hi again @StormWitcher.

I fixed that issue on Vimeo videos on version 2.6.7. Thanks for the enhancement.

Cheers!

[2020-10-29 06:54] Dezento commented on #62
@lucaspulliese Thanks for the enhancement! :)

[2020-10-29 14:00] #62 closed

[2020-10-30 15:58] StormWitcher commented on #61
Well done!

Thanks for the fixes and I love the component.

[2020-10-31 11:33] zachu90 opened #63 "Body scroll error"
Hi,
This package is awesome. Thank you for creating it.
I only have one issue with it. It keeps throwing error in the console:

`bodyScrollLock.esm.js?e181:192 enableBodyScroll unsuccessful - targetElement must be provided when calling enableBodyScroll on IOS devices.`

I am using chrome on windows 10.

Any ideas on how to fix this?

[2020-10-31 15:46] lucaspulliese commented on #63
Hi @zachu90!

Thanks for your words! :D

What version are you using? Because I fixed that before.
Another question, if you go to the docs, does it throw you the error as well?

[2020-11-01 12:47] zachu90 commented on #63
@lucaspulliese I am using `"vue-cool-lightbox": "^2.6.7"`

If I go to the docs the error isn't there.

I am using the package with Nuxt SPA mode.
The errors are thrown when I navigate from one page to another.

The stacktrace shows that the method is invoked by vue-cool-lightbox:

[code]

[2020-11-03 14:24] changefox commented on #63
Great package Lucas. I really like it!

I'm am also getting the same thing. Using `"vue-cool-lightbox": "^2.6.7",` like zuchu90
For my case, the error triggers when I navigate away from the page with VCL. You can see what happens for me here:
![MyReflections-JSError](https://user-images.githubusercontent.com/26835266/97996679-07e3f280-1e23-11eb-9b43-b75eec060309.gif)

My implementation of VCL is p

[2020-11-03 16:16] lucaspulliese commented on #63
Thanks to both for the info! I will take a look today 👍

[2020-11-08 21:46] lucaspulliese commented on #63
Hello guys!

Sorry for taking so long to solve it, I've had a lot of work this week. Please update the component to 2.6.8 version and let me know if everything work fine for you.

[2020-11-09 11:48] zachu90 commented on #63
@lucaspulliese Thanks a lot! Version 2.6.8 fixes the issue for me,

[2020-11-09 11:48] #63 closed

[2020-11-10 11:10] changefox commented on #63
Yeah good for me too! :)

[2020-11-18 09:54] Shade465 commented on #47
Thx) All ok, and sorry for the late reply

[2020-12-01 13:33] thehovdev opened #64 "Base64 data for image src"
is this possible in this package ?

i use this code but it does not work

[2020-12-02 03:04] changefox commented on #64
I believe the srcMediaType is used for to switch between images/video and iframes but I could be wrong

[2020-12-02 16:17] lucaspulliese commented on #64
Hi @thehovdev!

Yep, but it's not going to work in that way, It's what @changefox said, that prop is for src items, and it's, for example, when you have an url which is an PDF but it's not possible to detect the extension.

Check this [example](https://jsfiddle.net/lucaspulliese/xrado08c/), you just need to add the base64 image to the src item.

[2020-12-02 22:06] #64 closed

[2020-12-04 06:35] cbernard commented on #13
How do we use the slots ? I'm a bit confused... tks !

[2020-12-08 11:36] Yann-Chapuis opened #65 "TypeError: Cannot read property 'match' of undefined"
Hi,

I have an image gallery that worked fine with data (not dynamic).
I implemented axios to query the API and retrieve the images.
Everything works, except when I click on an image, i have this error :

![chrome_2020-12-08_12-11-11](https://user-images.githubusercontent.com/21161233/101478426-f9708580-3950-11eb-9c9e-dd36623ca800.png)

My full file:

[code]
_______________________________________

[2020-12-08 19:50] ntt19981812 opened #66 "I can't use vue-cool-lightbox pls help me out"
my component:

`<template>
  <div>
    <CoolLightBox :items="items" :index="index" @close="index = null">
    </CoolLightBox>
    <div class="images-wrapper">
      <div
        class="image"
        v-for="(image, imageIndex) in items"
        :key="imageIndex"
        @click="index = imageIndex"
        :style="{ backgroundImage: 'url(' + image.src + ')' }"

    </div>
  </div>
</template>
<scri

[2020-12-09 03:04] lucaspulliese commented on #65
Hello @Yann-Chapuis! I'm going to take a look at this and I will tell you if I find any solution.

[2020-12-09 03:37] lucaspulliese commented on #66
Hello @ntt19981812!

Can you send me the error that are you getting? And how are you implementing the component please?

[2020-12-10 22:00] lucaspulliese commented on #65
Hello again @Yann-Chapuis!

Look at this [JSFiddle](https://jsfiddle.net/lucaspulliese/x5dqvm9k/), I did like a fake fetch using a setTimeout function, looks like it's working fine.

Can you do a console.log of the response from the axios call? I think maybe it's something from the format of the data that you are getting.

[2020-12-11 06:59] Yann-Chapuis commented on #65
Thank you for your answer @lucaspulliese =)

About my console.log :
![chrome_2020-12-11_07-52-16](https://user-images.githubusercontent.com/21161233/101872673-f01c2e80-3b85-11eb-8d44-5e86f32cdf47.png)

I tried to use a setTimeout and a function to defined my index (@click), but still not working.

I simplified my code and put the real url on this [JSFiddle](https://jsfiddle.net/Pytha/q2bmn3k4/2/).

[2020-12-12 21:19] ntt19981812 commented on #66
i fixed it

[2020-12-12 21:19] #66 closed

[2020-12-13 08:56] Yann-Chapuis commented on #65
I solved the problem.
@lucaspulliese you were right, the problem came from the answer from my API, i had something like that before :
[code]

And on my view, i used this line to display each pic :
`:style="{ backgroundImage: 'url('+url_admin+'/images/_gallery/'+project.url_image + ')', cursor: 'zoom-in' }"`

I changed the name of my column "url_image" to "src", and i return the full url from my AP

[2020-12-13 08:58] #65 closed

[2020-12-13 16:10] lucaspulliese commented on #65
You are welcome @Yann-Chapuis! And thanks! I'm glad that you liked it.

And I have to say I'm sorry that I couldn't help you when you sent me the JSFiddle, I had a really busy week.

For you to consider, you can change the key of the object to be used as url image or video url, you only need to use the prop srcName, by defaul is "src".

Cheers!

[2020-12-14 05:54] rancou opened #67 "Video URL that does not have an extension is not working"
In my case, the server would send a url that looks something like https://example.com/v1/media/abcdef?query=123. I dug into the source code and found a function called getVideoUrl where it return false for url that isnt youtube,video, or end with some extension.

I did specify the `mediaType` to `'video'`, therefore, it should just return the url instead of false as a fallback. Thank you.

[2020-12-15 22:26] lucaspulliese commented on #67
Hello @rancou!

Yes, you are right, I will try to fix it as soon as I can.

[2020-12-17 13:56] croftman opened #68 "Fullscreen landscape on mobile"
Hi !
Is there any possibility to have a zoom on picture who put on fullscreen and in landscape ?
Like when you put a youtube video on fullscreen, but directly when we click (tap) on the picture ?

Thank you !

[2020-12-20 17:43] lucaspulliese commented on #67
Hello again @rancou!

Update the component to version 2.7.0, for your case you have to set the item object like this:

[code]

If you don't set the key "ext" the extension of the video for the tag <source> will be "mp4".

Let me know if everything works fine for you.

[2020-12-20 18:11] lucaspulliese commented on #68
Hi @croftman!

Yes, the idea is to have it for V3, I'm currently working on it, but I don't have enough time to finish it quickly, so I will let you know when it's uploaded

[2020-12-24 13:35] solamichealolawale commented on #66
I have the same problem, can't get it work.
https://codesandbox.io/s/vue-cool-lightbox-sample-lgl4m

[2020-12-24 13:54] solamichealolawale opened #69 "Can't resolve Vue Cool Lightbox"
I installed the package and attached is the error mesage I encountered.

![image](https://user-images.githubusercontent.com/12444227/103092376-4f9f2300-45f7-11eb-8421-8a9d8f488849.png)

I even tried using Code Sandbox
https://codesandbox.io/s/vue-cool-lightbox-sample-lgl4m

It's not working. Perhaps, I am doing something wrong.

Then I noticed there's nothing except for package.json in the node_mo

[2020-12-25 20:19] lucaspulliese commented on #67
Closed since no response. Feel free to open the issue again if you want.

[2020-12-25 20:19] #67 closed

[2020-12-26 07:35] MavlinD opened #70 "loop work only for fade effect"
loop work only for fade effect, for swipe don`t(

[2021-01-07 13:41] tsvetelina-stoykova opened #71 "Current video doesn't stop when slide on next video"

[2021-01-11 14:49] tevfiksirin opened #72 "Autoplay Videos (youtube or vimeo) sound start off"
Thanks for everything
Autoplay works fine,
But it starts with sound off, is there anything that can be done about that?
Am I skipping something?

[2021-01-12 21:31] lucaspulliese commented on #70
Hello @MavlinD!

Yep, it's something that I should add in a future new version.

[2021-01-12 23:43] lucaspulliese commented on #69
Hi @solamichealolawale!

I don't know what's happening there, try again to install the component running `npm i vue-cool-lightbox`.

Don't forget to add the css (`import 'vue-cool-lightbox/dist/vue-cool-lightbox.min.css'`), and the styles to the div where the images are shown.

[code]

Check this [example](https://jsfiddle.net/lucaspulliese/x5dqvm9k/).

Hope this help.

[2021-01-12 23:43] #69 closed

[2021-01-12 23:48] lucaspulliese commented on #71
Hi @tsvetelina-stoykova!

Mm, that's weird, could you tell me what browser and SO are you using?

[2021-01-13 03:42] #70 closed

[2021-01-13 08:41] solamichealolawale commented on #69
The example given is using CDN. What I am using is the npm version of it. I think that's where the problem comes from

[2021-01-19 03:18] KloudDev opened #73 "Nuxt Issue: No errors but doesn't activate"
Hey there!! Want to preface this in that I'm.. very new to anything Vue/Nuxt, so whatever I'm missing is probably going to be real dumb and I apologize.

So my issue seems to be mostly the same as #58 , but the fix didn't work.

I installed the pkg via npm, created vue-cool-lightbox.client.js with the following code:
[code]

-----------------
The plugin in nuxt.config like so:
[code]
-------------

[2021-01-19 06:00] skineeleggz opened #74 "Autoplay slideshow"
It would be nice if there was a prop available so that when lightbox shows, we can autoplay the slideshow (so that user doesn't have to click the "play" button)

Is there an easy way using the "open" event?

[2021-01-19 09:52] D3vmotiv commented on #41
Hi it's awesome i was looking for this too. Can you add this new props to your doc? Maybe someone is looking for it.

[2021-01-25 15:18] shrestha2lt8 opened #75 "Protected and Private AWS S3 videos are not working"
I'm trying to use AWS protected and private s3 videos but they are not working.

Could you please tell me what I need to do private AWS 3 videos?

[2021-01-28 09:56] ionchi opened #76 "Handle src errors"
I have a case when the item's src might return an error (403, 400, etc). It's possible to be able to specify a fallback url for the item or at least have an additional event onError to handle such cases?

[2021-02-01 09:41] Myystigri opened #77 "image offset on the right the more images you have"
It's not that obvious on the documentation example because there's only 3 images but basically the problem is that based on the index of the image in the slider, the image will be shifted slightly on the right.
With 3 images it's subtle enough to not care, but the more images you have, the more obvious it is.
Also it only happens based on the position of the image you clicked on to open the slider

[2021-02-06 06:21] kgnfth opened #79 "How to use it with vue-justified-layout"
How to use it with [vue-justified-layout](https://github.com/codekraft-studio/vue-justified-layout)

i tried to implent the basic one but i am getting the following error
[code]

[code]

this is the original code

[code]

[2021-02-06 06:37] Subilan commented on #77
same here, lol

[2021-02-06 15:22] kgnfth commented on #79
i made it work now
this is the working code
[code]

![image](https://user-images.githubusercontent.com/73314940/107122313-5926d680-6897-11eb-999e-950a909bed86.png)

[2021-02-10 12:39] Myystigri commented on #77
Fixed with 2.7.1

[2021-02-10 13:06] Subilan commented on #77
Nope, the problem is still to me😥(no matter "bottom" gallery or "right" gallery). I fixed it by using fade effect which does not depend on swiper things.

[2021-02-12 19:35] Sell24 opened #80 "Gallery prop not documented"
Just a minor issue to add the gallery prop to the documentation as I was wondering how you hid it for the single images.

[2021-02-17 16:15] martin91s commented on #72
@tevfiksirin Did you ever find a solution for this? I'm having the same issue.

[2021-02-21 14:36] Jcdt08 opened #81 "Vue3 support?"
Hey lovely work! I just wonder if there is any plan to support vue3 anytime soon?

[2021-02-22 14:49] tevfiksirin commented on #72
Unfortunately I haven't found yet

[2021-03-23 10:05] Lord-Y commented on #42
Any sign of this feature? :-)

[2021-03-24 11:38] kgnfth opened #83 "How to replace default video player with plyr.js ?"
With fancybox you could do something like this in pure js

[code]

but with vue-cool-lightbox i can do it like this

[code]

it works, but when i click the middle play button, then the lightbox is closing
same for the bottom left play button or other plyr interaction buttons
see video for demonstration

https://user-images.githubusercontent.com/73314940/112304300-9e636400-8c9d-11eb-9bfc-39bfc9998d

[2021-03-27 19:58] #79 closed

[2021-04-03 10:35] killwing commented on #83
Because click to close will check:
[code]

A workaround is to add 'cool-lightbox-video' class to the controls:
[code]

Look forward to the official fix.

[2021-04-03 22:58] kgnfth commented on #83
this works little but only when u click the play buttons
the rest buttons for example when u slide the volume, the modal moves together with it
and the fullscreen video style is messed up

[2021-04-03 23:06] kgnfth commented on #83
this works little but only when u click the play buttons
the rest buttons for example when u slide the volume, the modal moves together with it
and the fullscreen video is not on the center because of `:style="aspectRatioVideo"`

[2021-04-22 13:05] AnjeiNesty opened #87 "Zoom on mobile device"
Great plugin! I'm really looking forward to the zoom. Tell me when will he appear?

[2021-04-25 03:08] lucaspulliese commented on #83
Hello @kgnfth and @killwing!

I'm working on this component again, I'll let you know as soon as I have it fixed.

[2021-04-26 01:16] lucaspulliese commented on #83
Hey guys @killwing @killwing, please update the component to version `2.7.3`.

Things to consider:

- In case that you have effect `fade` I added a new event called `on-change-end`. So now the setup of the component should be like this:

[code]

That is because when effect is fade the slide element is removed from the DOM when is changed, so we have to run that function every time when the new sli

[2021-04-26 01:36] lucaspulliese commented on #81
Hi @Jcdt08! Thank you very much!

I am spending some time on the component again, I will look into this and let you know if I have any estimated date. If you have any information to share about this I would appreciate it.

[2021-04-26 02:28] lucaspulliese commented on #80
Hello @Sell24!

Yes, you are right, I forgot to add it to the documentation, thank you very much.

For now the only way to make it single image would be to send a single item in the array of items, but I think it would be good to create a component that is only for display an single image.

[2021-04-26 03:23] kgnfth commented on #83
@lucaspulliese Hi, thank you it works great now, but there is one little issue where the plyr.js styles are little messed up

see demo here https://demo-flax-chi.vercel.app click on `plyr.js test`
user = `demo`
pass = `password`

the plyr.js buttons is messed beacause of `padding 0`

https://github.com/lucaspulliese/vue-cool-lightbox/blob/master/src/components/CoolLightBox.vue#L2301

and the slide

[2021-05-03 20:38] lucaspulliese commented on #83
Oh yes, I see, sorry, my bad, could you post a screenshot of  ` fullscreen stays at top left because of :style="aspectRatioVideo"` please? And I will let you know when all of this are fixed.

[2021-05-03 21:56] kgnfth commented on #83
@lucaspulliese here is the demo https://pixeldemo.netlify.app/albums/plyr-js-test

[2021-05-06 17:22] killwing commented on #83
Found another issue: can not close the player when click outside. 😀

[2021-05-06 22:38] kgnfth commented on #83
For some reason adding
`<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/plyr/3.6.7/plyr.css">`
to the head instead of importing it, fixes the style issue, but the fullscreen issue remains the same

[2021-05-07 01:48] kgnfth commented on #83
i have resolved the plyr style by removing the import statement, instead i add the css to the head
[code]
this will load the plyr css above vue-cool-light-box
but the fullscreen remains the same

you can see it in action here https://pixeldemo.netlify.app/albums/plyr-js-test

![image](https://user-images.githubusercontent.com/73314940/117386140-a5a99e80-aee6-11eb-9b29-7d9c681b0626.png)

![image](h

[2021-05-23 17:54] blaaat opened #95 "Aspect ratio after rotating landscape on mobile safari"
After rotating to landscape on my iPhone, aspect ratio is off, seems to work when rotating from landscape to portrait.

[2021-05-23 17:57] blaaat opened #96 "Bugsnag: Cannot read property 'clientWidth' of undefined"
I haven't been able to reproduce this, but my Bugsnag is full of this error.
It appears to trigger twice when it triggers.

Triggered in:
`TypeError Cannot read property 'clientWidth' of undefined
    node_modules/vue-cool-lightbox/dist/vue-cool-lightbox.esm.js:1296:24 f.setLightboxInnerWidth
    node_modules/vue-cool-lightbox/dist/vue-cool-lightbox.esm.js:1302:11 f.xPositionOnResize
`

Only happe

[2021-05-27 11:00] durchanek commented on #72
This is quite ridiculous, autoplay videos explicitly start muted:
[code]

[2021-06-05 18:50] kgnfth commented on #83
Whatever

[2021-06-05 18:50] #83 closed

[2021-06-20 03:46] thedigicraft opened #97 "Does not accept a YouTube Playlist"
When passing an embed url for a YouTube playlist, the result is a broken player.  When inspecting the iframe, the playlist id is being removed from the URL.   It would appear that, for any src that is from youtube you are trying to grab the video id and rebuilding the URL.   I see how this is helpful in that it allows people to use a watch url OR the embed url for a video.

However, since youtube

[2021-06-20 03:51] thedigicraft commented on #97
Of course, right after I submitted this issue, I got the bright idea to pass `iframe` as the mediaType and boom it worked.  It would still be nice to be able to have the ability to use a playlist without specifying iframe as the media type, but this does work in the meantime.

So, if anyone has run into this issue, this will fix it:

[code]

[2021-06-20 03:51] #97 closed

[2021-06-23 14:44] ajordaan commented on #77
Have the same issue except the Images are offset to the left. Seems like only the swipe effect is affected by this and only on mobile screen sizes. No issue when using the fade effect.

Difference in offset between the 3rd and 12th image in the array:

![LIghtBox1](https://user-images.githubusercontent.com/8866267/123117650-3b22d280-d442-11eb-8880-df2d96e5a005.png)
![LIghtBox2](https://user-images

[2021-07-07 10:35] chrisbjr commented on #70
Maybe the documentation should change as it states here that it only works with "swipe"

![image](https://user-images.githubusercontent.com/571279/124745218-2a01b780-df52-11eb-89cd-77676707fcfb.png)

[2021-07-07 22:54] AO-IO opened #98 "RTL images display slightly off"
When using `dir="rtl"` all of the images appear like this on mobile (except the first one) :

![image](https://user-images.githubusercontent.com/33369979/124838074-63ecb100-df86-11eb-96cf-1f0ee7fbe6c0.png)

even on desktop its a bit off-center when using `dir="rtl"`

Any solution to this issue?

[2021-07-13 15:27] antoHero commented on #96
Hello, @blaaat were you able to solve this? I ran into the same issue

[2021-07-20 11:19] vpekarek opened #99 "Option to disable zoom"
I know that the zoom is disabled by default for mobile devices.
But would be nice to have an option to set this. I would like to disable zooming for everything, but now I can't.

[2021-07-21 11:49] nihcal commented on #32
i can not find a custom button slots btw :0

[2021-08-02 15:53] roberttolton commented on #81
Hi @lucaspulliese did you have any updated estimate? Thanks again for your work on this!

[2021-08-03 08:33] jakubmirejovsky commented on #99
On the other hand, option for "always zoom" would be great as well!

[2021-08-05 11:19] OleksiiBrylin commented on #77
effect="fade" helped to skip the issue for me

[2021-08-19 06:13] oriongunning commented on #99
yes that would be great. zooming on mobile is essential. thanks for a great plugin though :)

[2021-08-23 08:19] zub0r opened #100 "Custom html in slides"
Hi, thanks for this great plugin!
Is there any chance for implementing custom html in slides through slots?
https://fancyapps.com/docs/ui/fancybox/plugins/html
Thanks!

[2021-09-01 17:00] russ commented on #83
For what it's worth, this was enough to get past this issue for me.

[code]

[2021-09-10 12:34] blaaat commented on #96
No, you?

[2021-09-13 20:48] mrijken commented on #74
That is possible by using refs. Use  in your template:
[code]

Call `this.$refs.lightbox.togglePlaySlideshow();` in your code to start playing

[2021-09-21 17:21] lucianobosco opened #101 "Open lightbox from button"
Hi! This component looks interesting.
Before implementing I'd like to know if the lightbox can be opened from a button. I don't want to show any image, just a button that opens a specific image.
Also, can I have multiple instances within the same component?
Thanks in advance

[2021-10-02 13:53] danieldanielecki commented on #21
Same here, no success with Nuxt even after following #8

[2021-10-03 16:31] VirtualEstatePlanner opened #103 "needs a .d.ts file for typescript users"
That's it.

That's the issue.

[2021-10-19 01:06] iamlili opened #105 "Clicking background doesn't close light box from version 2.7.3"
Hi

Noticed a weird behaviour in 2.7.3 and 2.7.4

Clicking on the background doesn't close it (except sometimes, if there happens to be a link under the lightbox directly where you are clicking)

Works as expected in 2.7.2.

[2021-11-02 16:32] Thomas-1985 opened #106 "Ability to control zoom slider with the mousewheel"
Hi

Ich think a gread enhancement would be that you can control the zoom slider (if enabled) with the mousewheel so wheel up -> increase zoom and wheel down -> descrease zoom

Best,
Thomas

[2021-11-07 09:49] nadirabbas opened #107 "Add functionality to view Zip archives"
Currently, the Lightbox only shows PDFs, Videos, and Images. Can we have some functionality in the library where we can extend it and add more custom media types?

For example, I can use a third party archive viewer library and extend the lightbox to also render ZIP archives.

[2021-11-10 18:07] nadirabbas commented on #107
@lucaspulliese

[2021-11-11 16:55] yelena870513 opened #108 "Translations"
There is any way to setup translations for title on hovering?

[2021-11-25 17:11] Usateid commented on #96
@blaaat
It's because when you close the modal ( withouth using the X button ) the event window.removeEventListener('resize', this.xPositionOnResize) is not used.
To solve this problem, it's necessary to call that removeEventListener when the modal is closed, in every way possible.
Or call that function inside the beforeDestroy as you said, but it's necessary export that methods from the plugin

[2021-12-20 19:01] thaminayasmin commented on #60
Code sample for multiple galleries please. How do I work with the index. Weird.

[2022-01-10 05:59] Muzummil commented on #106
Is there any way to handle this functionality manually or any alternative to it?

[2022-01-12 14:07] sebastian-raubach opened #111 "Videos with uppercase extension not recognized"
First off, thanks for developing this tool, it's been really helpful.

I've got one issue so far though: When dealing with .MP4 files (as generated by many digital cameras), vue coolbox won't recognize it as a video. Looking at the code (https://github.com/lucaspulliese/vue-cool-lightbox/blob/298d8eeef9b0f9e02eb06fd7bd14b34bfbbb575f/src/components/CoolLightBox.vue#L1751) it seems that currently th

[2022-02-13 09:18] fhnb16 opened #115 "Manual call and links"
How to manually call lightbox with single image using js? Or how to use with all image/video/youtube links on the page without pre-defined json array? Like Fancybox works..

[2022-02-28 15:10] peminator opened #118 "overlayColor prop does not worjk properly"
i use it directly in browser, all ok, but setting the rgba or hex color to :overlayColor, based on https://vue-cool-lightbox.lucaspulliese.com/#items-attributes does not work for me, fails to initialize (bypassed by forcing some own css, but should be fixed)

also - please - add option to not use thumbnails (im hidint the button with css at the moment)

[2022-03-03 06:43] mdhasanpatwary opened #119 "Will you bring vue 3 update in your package?"

[2022-03-22 03:46] BoleLee commented on #67
I have the similar case, the video url is like: https://cdn.example.com/pictures/files/yyyy-mm-dd/abcdef.
I'm using the version 2.7.4, and set the item like this:
[code]
when I add the `mediaType: 'webVideo'`, it can add the video container, however, the video source still cannot be get. What else should I do? @lucaspulliese

[2022-03-22 06:32] BoleLee commented on #67
![image](https://user-images.githubusercontent.com/11992092/159421239-c515d26b-a126-4aac-bec6-0d9b59fedd2b.png)
Why the video src is still depend on extension but not the ext, or just return src

[2022-03-22 06:46] BoleLee commented on #67
I change the setting to this:
[code]

so it render the video source in an iframe.

[2022-03-24 23:53] lucianobosco opened #120 "Fullscreen on close is not disabled"
Fullscreen is not disabled on modal close.

[code]

Steps to reproduce:

1. Use the fullscreen sample
2. Click the fullscreen button at the top right. Browser will go to fullscreen mode
3. Click on the close button "X" at the top right.

Expected behavior: lightbox should be closed and also browser should return to normal mode
Current behavior: lightbox is closed but the browser keeps in fullscree

[2022-04-05 08:06] Thomas-1985 commented on #103
Me too

[2022-04-05 08:24] Thomas-1985 opened #122 "How to show all the thumbnails always?"
Hi

I have a lightbox that shows i.e. 10 images

Is it possible (and if so, how) to show the main image and below (or at the right) show the thumbnails (with the red frame for the active one) so that the user can also click on them (in addition to the <-- and -->) to switch images?

[2022-04-05 08:38] Thomas-1985 opened #123 "Prop for enabeling the thumbnails display per default?"
Hi

Is there a prop (i.e. "showThumbsbyDefault") which can be set to true and if so, it shows the thumbnail display (on the right) by default? This would be awesome since then, the user doesn't have to click on the icon (right of the play icon on the top right) to enable the thumbnail listing.

[2022-04-27 05:53] peminator opened #125 "Documentation not available"
**Im not able to access the documentation**. Domain lookup shows [lucaspulliese.com](https://lucaspulliese.com/) registered till 2023, yet if i try checking dns lookup, there is no IP assigned to https://lucaspulliese.com/.

Suggestion - Maybe to make a free hosting just make and point to github.io project, and also the best practice i suggest to include  a documentation (readme.md file, samples.z

[2022-05-05 09:10] davision commented on #119
Looking forward to it too!

[2022-05-11 02:41] cyanerd commented on #122
Hello! Have your solve this problem? I have the same

[2022-05-17 14:49] netdjw commented on #119
+1

[2022-05-17 14:59] netdjw commented on #81
@lucaspulliese I guess there is no progress on this topic. But if you could me some instructions I can spend some time on this project.

[2022-06-16 02:27] svifty7 commented on #119
+1

[2022-06-24 14:02] xelaris commented on #105
Hey, I can confirm this issue. We are experiencing this in case of having a (single) video shown in the lightbox and only when clicking on the left or right side. Clicking the top or bottom part of the background, closes the modal.

The issue is caused by the following change:
https://github.com/lucaspulliese/vue-cool-lightbox/commit/73eab5dd34d97532ebc101e49fa8ff901f900718#diff-f07caa2d9df3514471

[2022-07-10 02:45] itpropro commented on #119
I don’t think you can expect more updates here. There are (at least on GitHub) no current feature updates or releases, no active changelog, no TypeScript support, no docs in this repo and no composables or Vue/Nuxt 3 support.
So if you are looking for a lightbox module for a current Vue project, I would either create your own lightbox component or check out vue-easy-lightbox.

[2022-07-11 22:06] mrleblanc101 commented on #73
You need to wrap the `CoolLightBox` in a `<client-only>` tag as it's only loaded on the client-side.

[2022-07-11 22:08] mrleblanc101 opened #134 "Component name casing (`CoolLightbox` instead of `CoolLightBox `)"
The plugin is called `vue-cool-lightbox` so why is the component named `CoolLightBox` ?
Shouldn't it be called `CoolLightbox` as `lightbox` is one word.
If you use the hyphenated name, it would be `<cool-light-box>` which is weird.

[2022-07-19 15:19] cchacholiades commented on #118
@peminator you should be using the `overlayColor` as below and not as `:overlayColor`:

[code]

[2022-07-21 09:49] shamshadpattani commented on #32
does it support doc (xlsx ,csv) files?

[2022-08-19 21:04] Thomas-1985 commented on #122
No not yet, it is still a valid question

[2022-09-20 08:54] itpropro commented on #81
I don't have projects without Vue 3 anymore, time to look for another lightbox.

[2022-10-15 15:28] vedmant opened #136 "Support for multiple image formats (webp, avif)"
I integrated next gen images format and this packages has no way to use multiple formats for the image (using <picture> tag).
Would be nice to have this support.

[2022-11-04 08:55] nothinghalosix opened #137 "Image path url"
I use gridsome for my application but the images in the lightbox not shown

what is the correct url to render the image for lightbox. It only works with absolute live path. Images are stored in dev mode in /assets/images/....
after the gridsome build command in
/asssets/img/...

new image name after build process assets/img/berg-1.175db75e.jpg

`components: {
        CoolLightBox,
    },
    data(

[2022-11-30 10:42] salv0 commented on #72
Any chance we can fix this behavior? Maybe an extra prop?